/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --focus-text-color: #FFC2E6;
  --text-color: #353430;
  --title-color: #353430;
  --subtitle-color: #353430;
  --button-color: #353430;
  --decor-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --border-button-hover: 1px solid rgba(50, 49, 45, 0.40);
  --text-shadow-title-desctop: 4px 4px 0px #FF0070;
  --text-shadow-title-mobile: 4px 4px 0px #FF8DCB;
}
.theme_light .rec_text {
  display: none;
}

@media(prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --bg-color: #FFF1F7;
    --focus-text-color: #FFC2E6;
    --text-color: #353430;
    --title-color: #353430;
    --subtitle-color: #353430;
    --button-color: #353430;
    --decor-color: #353430;
    --background-image: url(/images/cover-image-light.png);
    --border-button-hover: 1px solid rgba(50, 49, 45, 0.40);
    --text-shadow-title-desctop: 4px 4px 0px #FF0070;
    --text-shadow-title-mobile: 4px 4px 0px #FF8DCB;
  }
  .rec_text {
    display: none;
  }
}