/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  gap: 40px;
}
.header {
  display: grid;
  grid-template-rows: 1fr minmax(min-content,max-content) 1fr;
  min-width: 375px;
  padding: 10px;
  min-height: 668px;
  position: relative;
}
.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px var(--decor-color) solid;
  border-right: 1px var(--decor-color) solid;
  position: absolute;
  top: 10px;
  right: 10px;
}
.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-left: 1px var(--decor-color) solid;
  border-bottom: 1px var(--decor-color) solid;
}
.rec_block {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  gap: 3px;
  color: var(--accent-color);
  text-align: center;
  line-height: 25px;
  font-size: var(--font-size);
  text-transform: uppercase;
}
.rec_square {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rec_square::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 6px 4px var(--accent-color);
}
.header__theme-menu {
  align-self: center;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 13px;
}
.header__theme-menu-button {
  background-color: transparent;
  padding: 0 13px;
  font-size: var(--font-size);
  text-transform: lowercase;
  color: var(--button-color);
  border: none;
  cursor: pointer;
}
.header__theme-menu-button_active {
  border: 1px var(--button-color) solid;
  pointer-events: none;
}
.header__theme-menu-button:hover {
  border: var(--border-button-hover);
}
.header__theme-menu-button:focus {
  outline: none;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: var(--decor-color);
}
.title {
  color: var(--focus-text-color);
  text-shadow: var(--header-text-shadow);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
}
.title-block {
  align-self: center;
}
.title-decor {
  color: var(--subtitle-color);
  background: var(--accent-color);
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 130%;
}
.main {
  color: var(--text-color);
  display: grid;
  gap: 50px;
}
.content_text {
  color: var(--text-color);
  font-family: IBM Plex Mono, sans-serif;
  font-size: var(--font-size);
  line-height: 130%
}
.content_text a {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}
.content_text a:hover {
  border-bottom: 1px solid var(--text-color);
}
.content_text a:focus {
  text-decoration: none;
  outline: 1px solid var(--text-color);
  text-underline-offset: 2px;
  outline-offset: 2px;
  border: none;
}
.section_why {
  padding: 0 10px;
  display: grid;
  gap: 20px;
}
.section_what {
  padding: 0 10px;
  display: grid;
  gap: 20px;
}
.section_how {
  padding: 0 10px;
  display: grid;
  gap: 20px;
}
.content_title {
  color: var(--zagolovok-color);
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 23.4px;
}
.subtitle {
  margin-bottom: 10px;
}
.section_how_spisok .no_padding {
  margin-bottom: 0px;
}
.content_spisok {
  display: grid;
  gap: 20px;
}
.subtitle, .gallery_zagolovok h2 {
  font-size: var(--font-size);
  color: #000028;
  font-weight: 700;
  line-height: 130%;
  background-color: var(--accent-color);
}
.no_bold {
  font-weight: 400;
}
.gallery {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(6, minmax(min-content,max-content));
  padding: 0px 10px;
}
.gallery img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.footer {
  display: grid;
  min-height: 667px;
  padding: 10px;
  position: relative;
}
.footer_text {
  color: var(--focus-text-color);
  text-shadow: var(--footer-text-shadow);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  align-self: center;
  margin: auto;
}
@media (min-width:768px) {
  .page {
    gap: 60px;
  }
  .header {
    padding: 20px;
    min-height: 1024px;
  }
  .rec_block {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
    line-height: 99px;
  }
  .title-block {
    display: flex;
    justify-content: flex-end;
  }
  .title-decor {
    max-width: 364px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  .main {
    gap: 80px;
  }
  .section_why {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .content_title {
    max-width: 236px;
  }
  .section_what {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .section_how {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .gallery {
    grid-template-columns: repeat(3,minmax(min-content,max-content));
    grid-template-rows: repeat(4,minmax(min-content,max-content));
    gap: 20px;
    padding: 0px 20px;
  }
  .gallery img {
    height: 100%;
  }
  .gallery_zagolovok {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .img_block_sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .img_block_ice_cream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .img_block_tape {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .img_block_books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .img_block_street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .footer {
    padding: 20px;
    min-height: 1024px;
  }
  .footer_text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
@media (min-width:1024px) {
  .header {
    min-height: 768px;
  }
  .header__theme-menu {
    align-self: flex-start;
  }
  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .title {
    line-height: 130px;
  }
  .title-decor {
    max-width: 491px;
  }
  .content_title {
    max-width: 315px;
  }
  .section_what_spisok {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }
  .footer {
    padding: 20px;
    min-height: 768px;
  }
}